{% extends 'base.html' %}

{% block title %} Add Pet {% endblock %}

{% block content %}
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>Add Pet</h1>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- Apply Bootstrap classes to form fields -->
                    <div class="form-group">
                        {{ form.name.label_tag }}
                        {{ form.name }}
                    </div>
                    <div class="form-group">
                        {{ form.breed.label_tag }}
                        {{ form.breed }}
                    </div>
                    <div class="form-group">
                        {{ form.price.label_tag }}
                        {{ form.price }}
                    </div>
                    <div class="form-group">
                        {{ form.image.label_tag }}
                        {{ form.image }}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </form>
{% endblock %}