{% extends 'base.html' %}

{% block title %} Pets List Page {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1 class="mb-4">Pet List</h1>
        <form class="form-inline mb-4" action="{% url 'search_results' %}" method="GET">
            <div class="form-group mr-2">
                <input type="text" name="search" class="form-control" 
                placeholder="Search by name" value="{{ search_query}}">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Breed</th>
                        <th>Price</th>
                        <th>Image</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pet in pets %}
                    <tr>
                        <td><a href="{% url 'pets_detail' pk=pet.pk %}">{{ pet.name }}</a></td>
                        <td>{{ pet.breed }}</td>
                        <td>${{ pet.price }}</td>
                        <td>
                            {% if pet.image %}
                            <img src="{{ pet.image.url }}" alt="{{ pet.name }}" style="max-width: 100px; height: auto;">
                            {% else %}
                            No image available
                            {% endif %}
                        </td>
                        <td>{{ pet.category }} </td>
                    
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</div>
{% endblock %}